@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply container mx-auto bg-stone-950 text-white flex items-center justify-center min-h-screen w-screen;
}

html, body, #__next {
  height: 100%;
  width: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 0.3s ease-out;
}

.chat-container {
  @apply flex flex-col h-lvh sm:w-max md:max-w-md max-h-[95vh] rounded-lg shadow-md;
}

@media (max-width: 640px) {
  .chat-container {
    @apply max-w-full mx-2;
  }
  .message {
    @apply max-w-[80%];
  }
  button {
    @apply px-3 py-2;
  }
}

.message {
  @apply mb-4 p-3 rounded-lg max-w-xs flex items-start gap-2 fade-in;
}

.skeleton {
  @apply animate-pulse rounded;
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}